.App {
  width:100%;
  height:100%;
  /*background-color: #222;*/
  opacity:0.75;
  background-image:url("../../public/background-1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
}

.Back_img{
  position:absolute;
  height:100vh;
  width:100vw;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 85%;
  padding: 20px;
  color: rgb(250,128,10);
}

.App-intro {
  line-height:10%;
  color:rgb(250,128,10);
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header > ul{
  height:85%;
}
/*设置图标样式*/
.icon-style{
  margin:10px;
  width:30px;
  height:30px;
  border-radius:15px;
}

/*设置图标悬停样式*/
.icon-style:hover{
  margin:0;
  width:50px;
  height:50px;
  border-radius:25px;
}

.App-header > ul > li:first-child{
  width:19%;
}

.App-header > ul > li{
  list-style:none;
  float:left;
  width:19%;
  height:100%;
  opacity:0.6;
}

.App-header > ul > li > div{
  color:#000;
  background: white;
  height:95%;
  border:0.1px solid black;
}

.cell-module{
  height:100%;
  list-style-type:none;
  margin:0;
  padding:0;
}

.cell-module > li{
  width:100%;
  height:20%;
  color:#000;
}

.module-3 > li{
  width: 100%;
  height:33%;
  color:#000;
}

.img-style{
  width:100%;
  height:100%;
}

/***
 *设置相册高度不溢出
 */
.Hidde-OverFlow{
  overflow:hidden;
}

#blog-cell{
  background-image: url("../resource/paper.jpg") ;
  background-repeat:no-repeat;
  background-size:cover;
}

#work-cell{
  background-image: url("../resource/codeResource.jpg") ;
  background-repeat:no-repeat;
  background-size:cover;
}

#work-cell > ul > li , #video-cell > ul > li , #life-cell > ul > li{
  color:#fff;
}

#video-cell{
  background-image:url("../resource/movie.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

#life-cell{
  background-image:url("../resource/life.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.App-header > ul > li:hover{
  opacity:0.9;
  background-color:black;
  border-radius:8px;
  transition:opacity 1s;
  transition:background-color 1s;
}

@-webkit-keyframes animar_fondo {
  from { -webkit-transform: scale(1) translate(0px);
-moz-transform: scale(1) translate(0px);
-ms-transform: scale(1) translate(0px);
-o-transform: scale(1) translate(0px);
transform: scale(1) translate(0px); }
  to { -webkit-transform: scale(1.5) translate(50px);
-moz-transform: scale(1.5) translate(50px);
-ms-transform: scale(1.5) translate(50px);
-o-transform: scale(1.5) translate(50px);
transform: scale(1.5) translate(50px); }
}