.App {
  width:100%;
  height:100%;
  /*background-color: #222;*/
  opacity:0.75;
  background-image:url("../../public/background-1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 85%;
  padding: 20px;
  color: white;
}

.App-intro {
  line-height:10%;
  color:white;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header > ul{
  height:85%;
}

.App-header > ul > li{
  list-style:none;
  float:left;
  width:19%;
  height:100%;
  opacity:0.6;
}

.App-header > ul > li:hover{
  opacity:0.9;
  background-color:black;
};

.body-content-test {
  height:95%;
  background:white;
}